* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
  }
  header {
    background-color: #7fffd4;
    width: 100%;
  }
  a {
    background-color: #7fffd4;
    border-radius: 5px;
    color: black;
    font-size: 44pt;
    text-decoration: none;
  }
  a:hover {
    color: #C0C0C0;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}
  footer {
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .container {
    background-color: #f0ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 590px;
    width: 100%;
  }
  /*Home page*/
  .link {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
  }
  /*Login page*/
  .f-login {
    background-color: #7fffd4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
  /*Register page*/
  .f-register {
    background-color: #7fffd4;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    height: 550px;
    width: 700px;
  }
  .user {
    display: flex;
    flex-direction: column;
  }
  .patient {
    display: flex;
    flex-direction: column;
    align-self: center;
  }